<h1> Add Your Pet </h1>


<%= form_for @pet do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name %><br />
    <p></p>
    <%= f.label :breed %>:
    <%= f.text_field :breed %><br />
    <p></p>
    <%= f.label :bio %>:
    <%= f.text_field :bio %><br />
    <p></p>
    <%= f.label :cost %>:
    <%= f.text_field :cost %><br />
    <p></p>
    <%= f.label :image %>:
    <%= f.text_field :image %><br />
    <p></p>

    <%= f.submit %>
<% end %>