<h1>Pet Show </h1>

<% if @pet.main_image.attached? %>
    <%= image_tag @pet.main_image %>
<% end %>

<% if @pet.user == current_user %>
        <% link_to "Edit Pet Profile", edit_pet_path %>
<% end %>
<div>
    <%= label_tag "Name:" %>
    <%= @pet.name %>
</div>
<p>
<div>
    <%= label_tag "Breed:" %>
    <%= @pet.breed %>
</div>
<p>
<div>
    <%= label_tag "Rating:" %>
    <%= @pet.rating %>
</div>
<p>
<div>
    <%= label_tag "Bio:" %>
    <%= @pet.bio %>
</div>
<p>

<p>
<div>
    <%= label_tag "Cost:" %>
    $<%= @pet.cost %> per day
</div>
<p>
<div>
<%= label_tag "Owner:" %>
<%= link_to @pet.user.name, user_path(@pet.user) %>
</div>
<p>
<div>
    <%= label_tag "Available:" %>
    <%= @pet.available %>
</div>
<p>

<% if @pet.available == true && @pet.user_id != current_user.id%>
    <div>
        
        <%# @pet.available == false %>
        <%= form_for @pet do |f| %>
            <%= f.button "Rent Me"%>
        <% end %>
        
    </div>
<% else %>
    <% if @pet.user_id == current_user.id %>
    <% else %>
    <div>
        <p>Pet not currently available </p>
    </div>
<% end %>
    
    <%# Must change @pet.available to false %>
    <%# Add rented pet to user %>
    <%# Can not rent a dog you own %>
<% end %>