<div class="margins">

<% if @user.id == current_user.id %>

    <h1 class="ui header"> Welcome <%= @user.name.titleize %> </h1> 


    <% if current_user.main_image.attached? %>
        <%= image_tag url_for(current_user.main_image), id: "profile_main", class:"profile_pic" %>
    <% elsif @user.img_url %>
    <%# This is to ensure seed data images show  %>
        <%= image_tag(@user.img_url, class: 'profile_pic')  %>  
    <% else %>
        Dont be camera shy ^_^ <br>
        Edit your profile and add an image!
    <% end %>
    
    
    <div>
        <h3> <%= label_tag "Location:" %> </h3>
        <%= @user.location %> </p><br>
    </div>

    <div>
        <h3><%= label_tag "Bio:" %></h3>
        <%= @user.bio %> </p><br>
    </div>
    
    <div>
        <h3><%= label_tag "Pets rented:" %></h3>
        <ul>
           <% @user.pets.each do |pet| %>
                <li> <%=link_to pet.name, pet_path(pet) %></li>
            <% end %>
        </ul>
          <%= button_to "Rent A Pet", pets_path, :method => "get", :class => 'ui black button'%> <br>

    </div>
    <br>
    <div>
        <h3><%= label_tag "My pets:" %></h3>
        <ul>
        <% if @user.my_pets != nil %>
          <% @user.my_pets.each do |pet| %>
            <li><%= link_to pet.name, pet_path(pet) %> </li><br>
            <% end%>
        <% else%>
            <p> You have no pets in the database </p>
        <% end %>
        </ul>
          <%= button_to "Add Pets", new_pet_path, :method => "get", :class => 'ui black button' %> <br>
    </div>
    <div>
        
        <h3>Wallet</h3> $<%= @user.wallet %>
        
        <%= form_for @user, :url => {:action => "add_money"} do |f| %>
            <%= f.label :wallet, "How much would you like to add?" %>
            <%= f.number_field :wallet, min: 5 %>
            <%= f.hidden_field :id, value: @user.id %>
            <%= f.submit "Submit", disable_with: 'Submiting...' %>
        <% end %>
        
    </div>
    <hr>

<%  else  %>
    
    <h1 class="title"> <%= @user.name.titleize %> </h1> 


    <% if @user.main_image.attached? %>
        <%= image_tag url_for(current_user.main_image), id: "profile_main", class:"profile_pic" %>
    <% else @user.img_url %>
    <%# This is to ensure seed data images show  %>
     <%= image_tag(@user.img_url, class: 'profile_pic') %>
    <% end %>


  
    <div>
        <h3> <%= label_tag "Location:" %> </h3>
       <p> <%= @user.location %> </p><br>
    </div>

    <div>
        <h3><%= label_tag "Bio:" %></h3>
        <%= @user.bio %> </p> <br>
    </div>
    
    <div>
        <h3><%= label_tag "Pets rented:" %></h3>
        <ul>
            <% @user.pets.each do |pet| %>
                <li> <%=link_to pet.name, pet_path(pet) %></li>
            <% end %>
        </ul>
    </div>
    <br>
    <div> 
        <h3><%= label_tag "My pets:" %></h3>
        <ul>
             <% if @user.my_pets != nil %>
                <% @user.my_pets.each do |pet| %>
            <li><%= link_to pet.name, pet_path(pet) %> </li><br>
            <% end%>
        <% else%>
            <p> You have no pets in the database </p>
        <% end %>
        </ul>
    </div>

     
    </div>
<% end %>

</div>