<% if @user.id == current_user.id %>


    <h1> Welcome to Your Account <%= @user.name %> </h1> 
    <%= button_to "Edit Profile", edit_user_path(@user.id), :method => "get" %>
        <% if @user.main_image.attached? %>
            <%= image_tag url_for(@user.main_image) %>
        <% end %>
             
        


    <h3> <%= @user.location %> </h3>
    <h3> Your Current User Rating is: <%= @user.rating %> </h3>
    <h3> We Will display our image here this is a place holder </h3>

    <div>
        <%= label_tag "Bio:" %>
        <%= @user.bio %> </p>
    </div>
    

    <div>
        <%= label_tag "Pets:" %>
        <ul>
            <% @user.pets.each do |pet| %>
                <li><%= pet %></li>
            <% end %>
        </ul>
    </div>

    
    <hr>
    <%= link_to "View Other Users", users_path%>
    

    
    
    <ul>
        <% @user.my_pets.each do |pet| %>
            <li><%= link_to pet.name, pet_path(pet) %> </li><br>
        <% end %>
    </ul>
    
<%  else  %>
    
    <h1> <%= @user.name %> </h1> 


    <h3> <%= @user.location %> </h3>
    <h3>Rating: <%= @user.rating %> </h3>
  

    <h3> Location: <%= @user.location %> </h3>
    <%# Rating: <%= @user.rating %> 
    
    <% if @user.img_url == nil %>
        <h3> They are camera shy ^_^ </h3>
    <% else %>
        <%= image_tag(@user.img_url) %>

    <% end %>

    <p> <%= @user.bio %> </p>

    <h3>Pets For Rent:</h3>
    <hr>
    <%= link_to "View Other Users", users_path%>
    <ul>
        <% @user.my_pets.each do |pet| %>
            <li><%= link_to pet.name, pet_path(pet) %> <br>
            Available: <%= pet.available %>
            </li>
        <br>
        <% end %>
    </ul>
<% end %>
