<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <a class="active item">Home</a>
                <div class="right item">

                    <%= link_to "Sign up", new_user_registration_path, :class => 'ui inverted button'  %> |
                    <%= link_to "Login", new_user_session_path, :class => 'ui inverted button'  %>
                </div>
            </div>
        </div>
        <div class="ui text container">
            <h1 class="ui inverted header">
                Val & Vin's Emotional Support Animals 
            </h1>
            <h3>Caring for you during COVID</h3>
        <div class="ui huge primary button">See Our Animals <i class="right arrow icon"></i></div>
    </div>

    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="eight wide column">
            <h3 class="ui header">We Help People Deal with COVID</h3>
            <p><%= Faker::Lorem.paragraph(sentence_count: 15, supplemental: true) %></p>
            <h3 class="ui header">Our Animals make life long connections</h3>
            <p><%= Faker::Lorem.paragraph(sentence_count: 9, supplemental: true) %></p>
            </div>
            <div class="six wide right floated column">
                <img src= <%= Pet.all.sample.image %> class="ui large bordered rounded image">
            </div>
        </div>
        <div class="row">

        <div class="six wide right floated column">
                <img src= <%= Pet.all.sample.image %> class="ui large bordered rounded image">
            </div>
            <div class="eight wide column">
                <h3 class="ui header">Love Yourself By Loving Our Animals</h3>
                <p><%= Faker::Lorem.paragraph(sentence_count: 15, supplemental: true) %></p>
                <h3 class="ui header">Your Life Matter</h3>
                <p><%= Faker::Lorem.paragraph(sentence_count: 20, supplemental: true) %></p>
            </div>
            
        </div>
        <div class="row">
            <div class="center aligned column">
            <a class="ui huge button">Take Me Home</a>
        </div>
            
    </div>
</div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
        <div class="center aligned row">
            <div class="column">
            <h3>"What a Company"</h3>
            <p>That is what they all say about us</p>
            </div>
            <div class="column">
            <h3>"I shouldn't have gone with their competitor."</h3>
            <p>
                <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
            </p>
            </div>
        </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
        <h3 class="ui header">Breaking Your Depression, Grabs Your Attention</h3>
        <p><%= Faker::Lorem.paragraph(sentence_count: 10, supplemental: true) %></p>
        <a class="ui large button">Read More</a>
        <h4 class="ui horizontal header divider">
            <a href="#">Case Studies</a>
        </h4>
        <h3 class="ui header">Did We Tell You About Our Pets?</h3>
        <p><%= Faker::Lorem.paragraph(sentence_count: 10, supplemental: true) %></p>
        <a class="ui large button">Read More</a>
        </div>
    </div>


    <div class="ui inverted vertical footer segment">
        <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">Sitemap</a>
                <a href="#" class="item">Contact Us</a>
                <a href="#" class="item">Become a Renter</a>
                <a href="#" class="item">Adoption Plans</a>
            </div>
            </div>
            <div class="three wide column">
            <h4 class="ui inverted header">Services</h4>
            <div class="ui inverted link list">
                <a href="#" class="item">Rent a Pet</a>
                <a href="#" class="item">Buy Pet Gifts</a>
                <a href="#" class="item">How To Access</a>
                <a href="#" class="item">Favorite Pets</a>
            </div>
            </div>
            <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p><%= Faker::Lorem.paragraph(sentence_count: 13, supplemental: true) %></p>
            </div>
        </div>
        </div>
    </div>
</div>