<div class = "ui container">
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui black image header">
    <p></p>
      <i class="sign in alternate icon"></i>
    
      <div class="content">
        Log In
      </div>
    </h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form"}) do |f| %>
<div class="ui stacked segment">
    <div class="field">
      <%= f.label :email %><br />
      
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail address" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => "actions ui fluid large black submit button" %>
    </div>
  </div>
<% end %>
<div class="ui message">
      <p>Don't have an account? </p>
      <%= render "devise/shared/links" %>
</div>
</div>
</div>
