<!DOCTYPE html>
<html>
  <head>
    <title>ESAApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>

     </head>
      <body>
    <ul class="navbar-nav mr-auto">

   <p class="navbar-text float-right">

  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.
    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>

	<nav id="nav1">
	  <ul>
      Logged in as <strong><%= current_user.email %></strong>.
	       <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
         <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	  </ul>
	</nav>
	<nav id="nav2">
	  <ul>
	    <%= link_to "Browse User Profiles", users_path, :class => 'navbar-link'%>
	    <%= link_to 'View Pets', pets_path, :class => 'navbar-link' %> |

	  </ul>
	</nav>
</body>
  <% else %>
    <%# <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
    <%# <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  <% end %>
</p>
  </ul>
  
  
 

 
    <%= yield %>

  <p class="notice"><%= notice %> </p>
  <p class= "alert"> <%= alert %> </p>

  </body>
</html>
